# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external volumes
.Spotlight-V100
.Trashes
.cursorrules
instructions.md

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
node_modules
.github
.cursor
memory-bank

# Node modules
node_modules/

# Build files
*.log
.cache/
.env

# Map files
*.map

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo