#chat-bubbles {
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 1000;
    .chat-icon {
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: var(--color-primary-300);
        color: #fff;
        border: 1px solid #FFF;
        text-decoration: none;
        border-radius: 50%;
        padding: 5px;
        position: relative;
        transition: transform .3s ease;
        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            width: 60px;
            height: 60px;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            animation: chat-button-play 3s infinite;
            background-color: var(--color-primary-300);
            border-radius: 50%;
            z-index: 1;
        }
        img {
            width: 80%;
            height: auto;
            border-radius: 0;
            z-index: 2;
            position: relative;
            &.chat-icon-close {
                display: none;
                width: 40%;
                opacity: 1;
            }
        }
    }

    .item-group {
        position: absolute;
        bottom: calc(100% + 10px);
        right: 0;
        background-color: #fff;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
        min-width: 200px;
        border-radius: 10px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        .chat-item {
            width: 200px;
            font-size: 13px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            cursor: pointer;
            text-decoration: none !important;
            transition: background-color .3s ease;
            &:not(:last-child) {
                border-bottom: 1px solid #f5f5f5;
            }
            img {
                width: 35px;
                height: auto;
            }

            span {
                margin-left: 10px;
                color: #333;
                transition: all .3s ease;
            }

            &:hover {
                background-color: #f5f5f5;
                text-decoration: none;
                span {
                    color: var(--primary-color);
                }
            }
        }

        &::before {
            position: absolute;
            bottom: -7px;
            right: 25px;
            left: auto;
            display: inline-block !important;
            border-right: 8px solid rgba(0, 0, 0, 0);
            border-top: 8px solid #fff;
            border-left: 8px solid rgba(0, 0, 0, 0);
            content: "";
        }
    }
    .bubble-modal{
        position: absolute;
        right: 0;
        bottom: calc(100% + 1rem);
        z-index: 1055;
        outline: none;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        transition: all 0.3s ease;
        &.active{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        .bubble-modal-close{
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid #f5f5f5;
            background-color: transparent;
            padding: 0;
            color: #333;
            cursor: pointer;
            transition: all 0.3s ease;
            svg{
                width: 1.5rem;
                height: 1.5rem;
            }
            &:hover{
                background-color: #f5f5f5;
            }
        }
        .modal-body{
            background-color: #fff;
            width: 300px;
            height: auto;
            padding: 1.5rem 1rem;
            .qrcode{
                h3{
                    margin-bottom: 1rem;
                    font-weight: 500;
                    font-size: 1.1rem;
                    text-align: center;
                }
                img{
                    max-width: 70%;
                    display: block;
                    margin: 0 auto;
                }
            }
            .btn{
                display: flex;
                width: 100%;
                margin-top: 1rem;
                align-items: center;
                gap: 0.5rem;
                background-color: #52BA00;
                color: #fff;
                border-radius: 999px;
                padding: 0.5rem 1rem;
                box-shadow: 0 2px 8px 0 rgba(0,0,0, 0.3);
                cursor: pointer;
                text-decoration: none !important;
                transition: all 0.3s ease;
                &:hover{
                    color: #fff;
                    text-decoration: none;
                }
                .icon{
                    width: 2.5rem;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                    padding-right: 0.5rem;
                    svg, img{
                        width: 100%;
                        height: auto;
                    }
                }
                span{
                    flex: 1;
                    text-align: center;
                }
            }
        }
    }
    &.active {
        .chat-icon{
            transform: scale(0.8);
            span {
                display: none;
            }

            img {
                display: none;
                &.chat-icon-close {
                    display: block;
                }
            }
            &::before{
                display: none;
            }
        }
        .item-group {
            opacity: 1;
            visibility: visible;
        }
    }
}

@keyframes chat-button-play {
    0% {
        opacity: .25;
        width: 96%;
        height: 96%;
    }

    40% {
        opacity: .25;
    }

    100% {
        opacity: 0;
        width: 150%;
        height: 150%;
    }
}